In [27]:
import configparser

# Load confing
config = configparser.ConfigParser(interpolation=None)
config.read('config.ini')

from src.utils_sorting import *

%load_ext autoreload
%autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [42]:
def get_data_google(link_id: str = '1LeFExyFaH101326yN82BKjLaPmX0uKKTK4g0lQvBquY') -> pd.DataFrame:
    df = pd.read_csv(
        'https://docs.google.com/spreadsheets/d/' +
        link_id  +
        '/export?gid=0&format=csv',
        skiprows=1,
    )
    df.drop(["1.", "Overall"], axis=1, inplace=True)
    
    columns = ["Teams", "SCP"]
    columns.extend([f'Flight {i}' for i in range(1, FLIGHTS + 1)])

    df.columns = columns
    return df

In [43]:
df = get_data_google()

In [44]:
df

,Teams,SCP,Flight 1,Flight 2,Flight 3,Flight 4,Flight 5,Flight 6,Flight 7,Flight 8,Flight 9,Flight 10,Flight 11,Flight 12,Flight 13,Flight 14,Flight 15,Flight 16
0,MYC,NaN,3,5,3,2,6,1,2,3,1,3,4,2,2,3,1,NaN
1,SMCÜ,NaN,1,4,1,4,2,1,1,OCS,3,2,5,1,6,2,5,NaN
2,NRV,NaN,5,1,2,5,2,4,1,OCS,4,2,2,1,3,4,2,NaN
3,MSC,NaN,1,4,1,4,1,6,5,1,2,1,6,6,4,2,3,NaN
4,KYC (SH),NaN,4,1,1,1,3,OCS,2,4,6,4,5,5,4,1,1,NaN
5,SV03,NaN,1,2,3,6,6,2,6,1,4,6,1,2,1,5,3,NaN
6,DYC,NaN,6,1,5,2,5,3,6,2,5,1,2,1,1,3,6,NaN
7,BYC (BA),NaN,6,3,2,2,1,3,4,2,5,3,3,6,6,2,2,NaN
8,BYCÜ,NaN,4,2,5,1,1,2,2,1,3,6,5,5,5,5,4,NaN
9,JSC,NaN,5,2,4,3,6,2,5,4,3,5,1,2,2,4,4,NaN
10,BYC (BE),NaN,2,6,2,4,3,3,3,5,5,1,6,3,5,3,RDG,NaN
11,VSaW,NaN,4,4,5,3,4,1,4,3,6,2,4,4,5,5,1,NaN
12,ASVW,NaN,2,6,3,6,5,5,1,5,4,6,2,6,2,1,2,NaN
13,SVI,NaN,3,5,4,3,5,4,4,2,2,3,3,5,3,4,6,NaN
14,KYC (BW),NaN,5,3,6,1,4,5,3,6,2,5,4,4,6,1,4,NaN
15,FSC,NaN,3,5,6,5,3,6,6,3,1,5,1,3,3,6,5,NaN
16,RSN,NaN,2,3,4,6,4,4,3,4,6,4,6,3,4,6,3,NaN
17,WYC,NaN,6,6,6,5,2,5,5,6,1,4,3,4,1,6,5,NaN

In [45]:
sort_results(result_df=df)

,Teams,SCP,Flight 1,Flight 2,Flight 3,Flight 4,Flight 5,Flight 6,Flight 7,Flight 8,Flight 9,Flight 10,Flight 11,Flight 12,Flight 13,Flight 14,Flight 15,Flight 16,Total
0,MYC,NaN,3,5,3,2,6,1,2,3,1,3,4,2,2,3,1,NaN,41.0
1,SMCÜ,NaN,1,4,1,4,2,1,1,OCS,3,2,5,1,6,2,5,NaN,45.0
2,NRV,NaN,5,1,2,5,2,4,1,OCS,4,2,2,1,3,4,2,NaN,45.0
3,MSC,NaN,1,4,1,4,1,6,5,1,2,1,6,6,4,2,3,NaN,47.0
4,KYC (SH),NaN,4,1,1,1,3,OCS,2,4,6,4,5,5,4,1,1,NaN,49.0
5,SV03,NaN,1,2,3,6,6,2,6,1,4,6,1,2,1,5,3,NaN,49.0
6,DYC,NaN,6,1,5,2,5,3,6,2,5,1,2,1,1,3,6,NaN,49.0
7,BYC (BA),NaN,6,3,2,2,1,3,4,2,5,3,3,6,6,2,2,NaN,50.0
8,BYCÜ,NaN,4,2,5,1,1,2,2,1,3,6,5,5,5,5,4,NaN,51.0
9,JSC,NaN,5,2,4,3,6,2,5,4,3,5,1,2,2,4,4,NaN,52.0
10,BYC (BE),NaN,2,6,2,4,3,3,3,5,5,1,6,3,5,3,RDG,NaN,54.6
11,VSaW,NaN,4,4,5,3,4,1,4,3,6,2,4,4,5,5,1,NaN,55.0
12,ASVW,NaN,2,6,3,6,5,5,1,5,4,6,2,6,2,1,2,NaN,56.0
13,SVI,NaN,3,5,4,3,5,4,4,2,2,3,3,5,3,4,6,NaN,56.0
14,KYC (BW),NaN,5,3,6,1,4,5,3,6,2,5,4,4,6,1,4,NaN,59.0
15,FSC,NaN,3,5,6,5,3,6,6,3,1,5,1,3,3,6,5,NaN,61.0
16,RSN,NaN,2,3,4,6,4,4,3,4,6,4,6,3,4,6,3,NaN,62.0
17,WYC,NaN,6,6,6,5,2,5,5,6,1,4,3,4,1,6,5,NaN,65.0